<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youl.app.persistence.UserDao">
	<select id="selectAll" resultType="UserVO">
		SELECT * FROM tbl_users
	</select>
	
	<select id="findById" resultType="UserVO">
		SELECT * FROM tbl_users WHERE username = #{username}
	</select>
	
	<insert id="insert" parameterType="UserVO">
		INSERT INTO tbl_users
			(
				username, 
				password, 
				name, 
				email, 
				role
			) VALUES (
				#{username}, 
				#{password}, 
				#{name}, 
				#{email},
				#{role}
			)
	</insert>
	<update id="update" parameterType="UserVO">
		UPDATE tbl_users SET
				password = #{password}, 
				email = #{email},
				name = #{name},
				role = #{role}
		WHERE username = #{username} 
	</update>
	<delete id="delete">
		DELETE FROM tbl_users WHERE username = #{username}
	</delete>
	
	<select id="create_user_table">
	 	CREATE TABLE IF NOT EXISTS tbl_users (	
	 		username VARCHAR(125) PRIMARY KEY,
	 		password VARCHAR(125) NOT NULL,
	 		name VARCHAR(50),
	 		email VARCHAR(125),
	 		role VARCHAR(10)
		)
 	</select>
</mapper>





